BACKEND_DOMAIN=bigga.reckonsys.xyz
BACKEND_PORT=5000
DD_API_KEY=your-dd-api-key
DO_AUTH_TOKEN=required-for-traefik-acme-digitalocean-dns
MONGO_HOST=mongo
NEO4J_BROWSER_HOST=n4jbrowser.reckonsys.xyz
POSTGRES_DB=bigga
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=bigga
POSTGRES_USER=bigga
RABBITMQ_HOST=rabbitmq
SOCKET_DOMAIN=ws.reckonsys.xyz
SOCKET_PORT=7000
SSRFRONTEND_DOMAIN=ssrfrontend.reckonsys.xyz
SSRFRONTEND_PORT=6000
