[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
ipython = "*"
ipdb = "*"
bumpversion = "*"
sphinx = "*"
bigga = {editable = true,path = "."}
twine = "*"

[packages]
invoke = "*"
fabric = "*"
patchwork = "*"

[requires]
python_version = "3.7"
